.divdefault{
	border: 5px;
	border-top:5px;
	border-bottom:5px;
	width:150px;
	height:180px;
	border-color: white;
	position: relative;
	float: left;
	margin: 5;
	border-style:solid;
}

.divover{
	border:5px;
	border-top:5px;
	border-bottom:5px;
	width:150px;
	height:180px;
	border-color: #DFDADA;
	position: relative;
	float: left;
	margin:5;
	border-style:solid;
}

.divdefault img{
	border:2px;
	width:150px;
	height:140px;
}

.divover img{
	border:2px;
	width:150px;
	height:140px;
}

.divdefault  a{
	display:none;
	float:right;
	position: relative;
}
.divover  a{
	display:none;
	float:right;
	position: relative;
}

.hideImgDivDefult{
	border: 5px;
	border-top:5px;
	border-bottom:5px;
	width:160px;
	border-color: white;
	margin: 5;
	border-style:solid;
}

.hideImgDivOver{
	border: 5px;
	border-top:5px;
	border-bottom:5px;
	width:160px;
	border-color:  #DFDADA;
	margin: 5;
	border-style:solid;
}

.hideImgDivDefult  a{
	display:none;
	float:right;
	position: relative;
}

.hideImgDivOver  a{
	display:none;
	float:right;
	position: relative;
}

.ieDiv{
	width:90px;
	height:30px;
	background-repeat:no-repeat;
	text-align:center;
	background-image: url("addImage.png");
}

.filetm{
	height:30px; 
	filter:alpha(opacity:0);
	opacity: 0;
	width:70px ;
	heigth:30px;
}




